
        <div class="container">
            <div id="home" class="flex-center flex-column">
                <h1>B<img src="https://i.pinimg.com/736x/67/7d/44/677d4476bbc290d0df6f3ce3325f8378.jpg" width="50" alt="logo">k Quiz</h1>
                <h3 style="font-family: cursive;">Best 3 out of 5</h3>
                <p>Get 3 or more questions correct and win <strong>4</strong> tickets to the next <strong>Live</strong> springboks game.</p>
                <br>
                <h3 style="font-family: cursive;">Rules:</h3>
                <ul>
                    <li>Correct answer gives you +5 points.</li>
                    <li>Incorrect answer subtracts -5 points.</li>
                    <li>You have 30 seconds to answer each question.</li>
                </ul>
                <h4 style="font-family: cursive;">Good luck!</h4>
                <div class="name col-md-4 my-3">
                    <label for="">Enter your name:</label>
                    <input #name type="text" class="form-control">
                </div>
                <br>
                <a class="btn" href="/game" (click)="Play()">Play</a>
                <a class="btn" >High Scores</a>
            </div>
        </div>
 
